/* dark theme */
body {
    background-color: white;
}

 /* use font CrimsonText from public/font */
@font-face {
    font-family: 'CrimsonText';
    src: url('/font/CrimsonText-Regular.ttf');
}

body{
    font-family: 'CrimsonText';
    font-size: 16px;
    color: #333;
}