/* dark theme */
body {
    background-color: white;
}

@font-face {
    font-family: 'CrimsonText';
    src: url('/fonts/CrimsonText-Regular.ttf');
}

@font-face {
    font-family: 'Sagoe UI';
    src: url('/fonts/Segoe UI.ttf');
}